<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title th:text="#{survey.title}">Survey</title>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/core.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/components.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/colors.min.css}" rel="stylesheet" type="text/css"/>
    <!-- /global stylesheets -->



    <!-- Core JS files -->
    <script type="text/javascript" th:src="@{/js/plugins/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/core/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/core/libraries/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <!--<script th:src="@{/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <script th:src="@{/js/plugins/visualization/d3/venn.js}"></script>-->

    <!--<script th:src="@{/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/js/plugins/forms/styling/uniform.min.js}"></script>
    <script th:src="@{/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
    <script th:src="@{/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/js/plugins/pickers/daterangepicker.js}"></script>-->

    <script th:src="@{/js/core/app.js}"></script>
    <!--<script th:src="@{/js/pages/dashboard.js}"></script>-->


</head>

<body class="navbar-bottom-xs">

<div tiles:replace="navbar"  th:remove="tag"></div>


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div tiles:replace="menu"  th:remove="tag">

        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper no-padding-bottom">

            <!-- Page header -->
            <div tiles:replace="header" th:remove="tag">

            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content no-padding-bottom">

                <!-- Main charts -->
                <div tiles:replace="content" th:remove="tag">
                </div>


                <!-- Footer -->
                <div tiles:replace="footer"  th:remove="tag">

                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

</body>


</html>