
<div class="sidebar sidebar-main"  tiles:fragment="menu">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img th:src="@{/images/placeholder.jpg}" class="img-circle img-sm" alt=""/></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">Victoria Baker</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span th:text="#{survey.forms}">Forms</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li>
                        <a href="#" ><i class="icon-stack2"></i> <span th:text="#{survey.forms}">Forms</span></a>
                        <ul>
                            <li><a th:href="@{forms}" href="/forms" th:text="#{survey.view.all}">View All</a></li>
                            <li><a th:href="@{form-add-view}" href="/form-add-view" th:text="#{survey.create}">survey.create</a></li>
                        </ul>
                    </li>
                    <!-- Forms -->
                    <li class="navigation-header"><span>Forms</span> <i class="icon-menu" title="Forms"></i></li>
                    <li>
                        <a href="#"><i class="icon-pencil3"></i> <span>Form components</span></a>
                        <ul>
                            <li><a href="form_inputs_basic.html">Basic inputs</a></li>
                            <li><a href="form_checkboxes_radios.html">Checkboxes &amp; radios</a></li>
                            <li><a href="form_input_groups.html">Input groups</a></li>
                            <li><a href="form_controls_extended.html">Extended controls</a></li>
                            <li>
                                <a href="#">Selects</a>
                                <ul>
                                    <li><a href="form_select2.html">Select2 selects</a></li>
                                    <li><a href="form_multiselect.html">Bootstrap multiselect</a></li>
                                    <li><a href="form_select_box_it.html">SelectBoxIt selects</a></li>
                                    <li><a href="form_bootstrap_select.html">Bootstrap selects</a></li>
                                </ul>
                            </li>
                            <li><a href="form_tag_inputs.html">Tag inputs</a></li>
                            <li><a href="form_dual_listboxes.html">Dual Listboxes</a></li>
                            <li><a href="form_editable.html">Editable forms</a></li>
                            <li><a href="form_validation.html">Validation</a></li>
                            <li><a href="form_inputs_grid.html">Inputs grid</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-footprint"></i> <span>Wizards</span></a>
                        <ul>
                            <li><a href="wizard_steps.html">Steps wizard</a></li>
                            <li><a href="wizard_form.html">Form wizard</a></li>
                            <li><a href="wizard_stepy.html">Stepy wizard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-spell-check"></i> <span>Editors</span></a>
                        <ul>
                            <li><a href="editor_summernote.html">Summernote editor</a></li>
                            <li><a href="editor_ckeditor.html">CKEditor</a></li>
                            <li><a href="editor_wysihtml5.html">WYSIHTML5 editor</a></li>
                            <li><a href="editor_code.html">Code editor</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-select2"></i> <span>Pickers</span></a>
                        <ul>
                            <li><a href="picker_date.html">Date &amp; time pickers</a></li>
                            <li><a href="picker_color.html">Color pickers</a></li>
                            <li><a href="picker_location.html">Location pickers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-insert-template"></i> <span>Form layouts</span></a>
                        <ul>
                            <li><a href="form_layout_vertical.html">Vertical form</a></li>
                            <li><a href="form_layout_horizontal.html">Horizontal form</a></li>
                        </ul>
                    </li>
                    <!-- /forms -->



                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
