<div th:if="${session.confirmed != null and session.confirmed }" tiles:fragment="action_panel"
     xmlns:th="http://www.w3.org/1999/xhtml">
<!-- &lt; 49 and evaluation &gt; 29-->
    <link rel="stylesheet"
          media="screen"
          th:href="@{/css/general/wallet_login.css}"/>
    <div class="row">
        <div class="current_button_div">
            <button class="btn" onclick="current_balance()">
                <img src="../../../image/icon/balance_button_icon.png"
                     th:src="@{/image/icon/balance_button_icon.png}"
                     alt="balance icon"/>
                <span  th:text="#{wallet.login.current.balance}" th:remove="tag">Current Balance</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="hello_div_parent" >
            <span th:text="#{info.welcome.wallet.hello}"  th:remove="tag"></span>
            <div class="name_div" th:text="${session.session_user.name}  + ${session.session_user.surname}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="user_text_div col-lg-4 col-md-5 col-sm-5 col-xs-8" th:text="#{wallet.login.hello.text}">
            Welcome to your ConnectToWallet
        </div>
    </div>
</div>