<div th:if="${session.isMobile == null}" tiles:fragment="footer_panel">
    <link rel="stylesheet"
          media="screen"
          th:href="@{/css/general/vshoo/footer.css}"/>

    <div style="clear: both"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="icons  ">
                            <img style="cursor: pointer"
                                 onclick="goTo('https://www.facebook.com/Vshoo-982704671776427/')" class=""
                                 src="../../../image/general/footer/fb.png"
                                 th:src="@{/image/general/footer/fb.png}" />
                            <img style="cursor: pointer"
                                 onclick="goTo('https://plus.google.com/u/2/101994730746951333649/posts')" class=""
                                 src="../../../image/general/footer/gplus.png"
                                 th:src="@{/image/general/footer/gplus.png}" />
                            <img style="cursor: pointer" onclick="goTo('https://twitter.com/VShooVShoo')" class=""
                                 src="../../../image/general/footer/twitter.png"
                                 th:src="@{/image/general/footer/twitter.png}"/>

                            ${T(com.example.MyType).PROJECT_NAME_MAX_LENGTH}
                            <div th:if="${session.isVshoo == null}" class="contact_vshoo"
                                 onclick="goTo('${T(com.connectto.wallet.util.ConstantGeneral).URL_CORPORATE}')">
                                <img style="cursor: pointer"
                                     src="../../../image/general/vshoo/corporat_logo_vsho.png"
                                     th:src="@{/image/general/vshoo/corporat_logo_vsho.png}"
                                     th:alt="corporat_logo_vsho"/>
                                <span th:text="#{pages.vshoo.main.Contact.vshoo.com}">Corparate</span>
                            </div>


                        </div>
                    </div>
                    <div tiles:replace="language"></div>
                    <div class="copyright col-lg-6 col-md-6  col-sm-6  col-xs-12">
                        <div th:text="#{hollor.footer.Copyright}">Copyright @ 2015ConnectTo Communications inc. All right reserved</div>
                    </div>


                </div>

            </footer>
        </div>
    </div>


</div>