<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title th:text="#{wallet.general.title}">Wallet</title>
    <link rel="icon"
          type="image/png"
          th:href="@{/image/general/{dns}/favicon.png(dns=${session.session_url_partition_dns})}"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet"
          media="screen"
          th:href="@{/css/general/datepicker_bootstrap.css}"/>
    <style type="text/css">
        .fix_bottom {
            position: absolute;
            bottom: 0;
        }
        .blur {
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
        }
        .loader{
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
            left: 0px;
            z-index: 10;
            display: none;
        }
        .loader_img_div{
            position: absolute;
            height: 50px;
            width: 50px;
            top: 50%;
            z-index: 3;
            left: 50%;

        }
        .loader img{
            width: 100%;
            height: auto;
        }
    </style>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>


    <script src="../../../js/general/bootstrap-datepicker.js" th:src="@{/js/general/bootstrap-datepicker.js}"></script>
    <script src="../../../js/general/general_api.js" th:src="@{/js/general/general_api.js}"></script>
    <script src="../../../js/general/log.js" th:src="@{/js/general/log.js}"></script>
    <script src="../../../js/general/jquery-ui.js" th:src="@{/js/general/jquery-ui.js}"></script>


    <script type="text/javascript" th:inline="javascript">
        function goToAction(href) {
            window.location = href;
        }

        function close_any_popup(selector) {
            $(document).click(function (e) {
                if ($(e.target).closest(selector).length != 0) return false;
                console.log("e.target",$(e.target));
                console.log("e.target lengt",$(e.target).closest(selector).length);
                $(selector).hide();
            });

        }

        function only_number(selector) {
            $(selector).keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                /*<![CDATA[*/
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                            // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                            // Allow: Ctrl+C
                        (e.keyCode == 67 && e.ctrlKey === true) ||
                            // Allow: Ctrl+X
                        (e.keyCode == 88 && e.ctrlKey === true) ||
                            // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                /*]]>*/
                // Ensure that it is a number and stop the keypress
                /*<![CDATA[*/
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
                /*]]>*/
            });
        }
        function selected_nav (selector){
            var tt = /*<![CDATA[*/"<div class='selected_nav'></div>"/*]]>*/;
            $(selector).append(tt);
        }
        function loader_show() {
            var loader_height = $(document).height();
            $(".loader").css("height",loader_height+"px").show();
            $(".div_for_blur").addClass("blur");
        }

        function loader_hide() {
            $(".loader").hide();
            $(".div_for_blur").removeClass("blur");
        }

        function footerPlace() {
            var doc_height = Math.max(
                    document.body.scrollHeight, document.documentElement.scrollHeight,
                    document.body.offsetHeight, document.documentElement.offsetHeight,
                    document.body.clientHeight, document.documentElement.clientHeight
            );
            var win_height = $(window).height();
            console.log("doc_height",doc_height,"win_height",win_height);
            /*<![CDATA[*/
            if (win_height < doc_height) {
                $(".footer").removeClass("fix_bottom")
            }
            else {
                $(".footer").addClass("fix_bottom")
            }
            /*]]>*/
        }
        $(document).ready(function () {
            footerPlace();
            $(window).resize(function () {
                footerPlace();
            });

        })

    </script>
</head>
<body>
<div class="div_for_blur">
    <div tiles:replace="person_panel"></div>
    <div tiles:replace="action_panel"></div>
    <div tiles:replace="accounts"></div>
    <div tiles:replace="footer_panel" ></div>
</div>

<div class="loader">
    <div class="loader_img_div">
        <img class="center-block loading"
             src="../../../image/general/loading.gif"
             th:src="@{/image/general/loading.gif}"
             alt="loading..."/>
    </div>
</div>




</body>
</html>