<div tiles:fragment="content" th:remove="tag">

    <script type="text/javascript" th:src="@{/js/plugins/forms/wizards/stepy.min.js}"></script>

    <!--<script type="text/javascript" th:src="@{/js/core/libraries/jquery_ui/core.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/wizards/form_wizard/form.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/wizards/form_wizard/form_wizard.min.js}"></script>-->

    <script type="text/javascript" th:src="@{/js/plugins/forms/styling/switchery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/inputs/formatter.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/plugins/forms/selects/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/styling/uniform.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/core/libraries/jasny_bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/forms/validation/validate.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>

    <script type="text/javascript" th:src="@{/js/pages/wizard_stepy.js}"></script>
    <!--<script type="text/javascript" th:src="@{js/pages/wizard_form.js}"></script>-->
    <style type="text/css">
        .last_li, .last_li:after{
            content: none;
            right: 0;
            width: 0px;
        }

        .label_input, .legend_input {
            float: left;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        body {
            background-color: #f5f5f5;
            color: #333;
            font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 13px;
            line-height: 1.53846;
        }

        h6, .h6 {
            font-size: 15px;
        }
        .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            margin-left: -20px;
            position: inherit;
        }

    </style>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var InputType = {
            CHECKBOX : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).CHECKBOX.getId()}]]*/ "",
            RADIO : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).RADIO.getId()}]]*/ "",
            SELECT : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).SELECT.getId()}]]*/ "",
            TEXT : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).TEXT.getId()}]]*/ "",
            TEXT_AREA : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).TEXT_AREA.getId()}]]*/ "",
            PASSWORD : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).PASSWORD.getId()}]]*/ "",
            EMAIL : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).EMAIL.getId()}]]*/ "",
            NUMBER : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).NUMBER.getId()}]]*/ "",
            RANGE : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).RANGE.getId()}]]*/ "",
            SEARCH : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).SEARCH.getId()}]]*/ "",
            TEL : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).TEL.getId()}]]*/ "",
            URL : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).URL.getId()}]]*/ "",
            DATE : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).DATE.getId()}]]*/ "",
            DATETIME : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).DATETIME.getId()}]]*/ "",
            DATETIME_LOCAL : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).DATETIME_LOCAL.getId()}]]*/ "",
            MONTH : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).MONTH.getId()}]]*/ "",
            TIME : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).TIME.getId()}]]*/ "",
            WEEK : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).WEEK.getId()}]]*/ "",
            COLOR : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).COLOR.getId()}]]*/ "",
            FILE : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).FILE.getId()}]]*/ "",
            HIDDEN : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).HIDDEN.getId()}]]*/ "",
            IMAGE : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).IMAGE.getId()}]]*/ "",
            SUBMIT : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).FILE.getId()}]]*/ "",
            RESET : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).RESET.getId()}]]*/ "",
            BUTTON : /*[[${T(rs.crm.survey.dataaccess.domain.lcp.InputType).BUTTON.getId()}]]*/ ""

        };
        /*]]>*/
    </script>

    <script type="text/javascript" >

        $(document).ready(function(){
            $('.stepy-header').hide();
            $('.stepy-navigator').hide();
        })

        var input_item = 0;

        function add_step (){
            $('#default_submit').hide();
            $('.stepy-header').show();
            $('.stepy-navigator').show();
            $('.last_li').removeClass('last_li');
            $('.stepy-header li').each(function (i,item){
                if( i > legend){
                    $(item).hide();
                } else if(i == legend){
                    $(item).show();
                    $(item).addClass('last_li');
                } else {
                    $(item).show();
                }
            })

            $('#legend_'+legend).show();

            $('.btn-primary').show();
            $('.fake-finish').remove();


            $('.stepy-step').each(function (i,item){
                if( i == legend){
                    $(item).find('.stepy-navigator').find('.button-next').hide();
                    $(item).find('.stepy-navigator').find('.button-next')
                            .after('<button class="btn btn-primary fake-finish stepy-finish" type="submit">Submit <i class="icon-arrow-right14 position-right"></i></button>');
                }
            })

            legend++;
            $('#legend_'+legend).show();
        }

        function addInput(this_) {
            var input_type = $(this_).attr('data-name');
            var input_id = $(this_).attr('data-id');

            var input_label = 'Please enter title ' + input_type;
            input_item++;
            var condition_block = $('#conditions').clone().attr('id','condition_' + input_item).attr( "style", "display: block").html();
            var condition = '<div class="input-group-btn" data-condition="' + input_item +'" id="condition_' + input_item + '">' + condition_block +'</div>';

            var helper_block = $('#helper').clone().attr('id','helper_' + input_item).attr( "style", "display: block").html();
            var helper = '<div class="input-group-btn" data-helper="' + input_item +'" id="helper_' + input_item + '">' + helper_block +'</div>';

            var action_block = $('#action').clone().attr('id','action_' + input_item).attr( "style", "display: block").html();
            var action = '<div class="input-group-btn" data-action="' + input_item +'" id="action_' + input_item + '">' + action_block +'</div>';

            var parent_block = $('#parent').clone().attr('id','parent_' + input_item).attr( "style", "display: block").html();
            var parent = '<div class="input-group-btn" data-parent="' + input_item +'" id="parent_' + input_item + '">' + parent_block +'</div>';

            var switchery_block = ''+
                    '           <span class="input-group-addon switchery-xs">' +
                    '               <input type="checkbox" class="switchery switchery_' + input_item + '" checked="checked"/>' +
                    '           </span>' ;

            var curr_input = '';
            if(input_id == InputType.CHECKBOX || input_id == InputType.RADIO){
                curr_input +=
                '<div class="form-group pair_group_' + input_item + '">'+
                    '<div class="checkbox pair_' + input_item + '">'+
                    '    <label>'+
                    '       <input name="aName" type="' + input_type + '" checked="checked"/>'+
                    '       Checked default'+
                    '   </label>'+
                    '</div>'+
                '</div>';
            } else if(input_id == InputType.SELECT){
                curr_input +=''+
                '<div class=""> ' +
                    '<div class="multi-select-full multi-select-full-' + input_item + '">' +
                        '<select class="multiselect multiselect_' + input_item + ' pair_group_' + input_item + '" multiple="multiple">' +
                            '<option value="cheese" class="pair_' + input_item + '">Cheese</option>' +
                            '<option value="tomatoes">Tomatoes</option>' +
                            '<option value="mozarella">Mozzarella</option>' +
                            '<option value="mushrooms">Mushrooms</option>' +
                        '</select>' +
                    '</div>' +
                '</div>';

                <!-- /default multiselect -->
            } else {
                curr_input += switchery_block+  '<input id="input_' + input_item + '" type="' + input_type +'" placeholder="" class="form-control"/>' ;
            }

            var form_group_desc =
                    '<div class="form-group form-group-' + input_item + '">' +
                    '   <div class="col-lg-12">' +
                    '       <h6 id="label_' + input_item +'" class="control-label" data-id="' + input_item + '" onclick="editLabel(this)">' + input_label + '</h6>' +
                    '       <p class="content-group-sm">When initializing a typeahead, you pass the plugin method one or more datasets. The source of a dataset is responsible for computing a set of suggestions for a given query.</p>'+
                    '   </div>'+
                    '   <div class="col-lg-12 input_block">' +
                    '       <div class="input-group">' +
                    parent +
                    curr_input +
                    condition +
                    helper +
                    action +
                    '       </div>' +
                    '   </div>' +
                    '</div>';


            $('#legend_' + current_legend).before(form_group_desc);
            switchery_init(input_item);
            multiselect_init(input_item);

            $('#parent').find('ul').append('<li class="parent_input_' + input_item + '">' + input_label + '</li>');
            //th:if="${evaluation &lt; 49 and evaluation &gt; 29}"
        }

        function addCondition(this_){
            var name = $(this_).attr('data-name');
            var id = $(this_).attr('data-id');
            var condition = $(this_).parent().parent().parent().attr('data-condition');
            $(this_).parent().parent().parent().find('button').html('Condition / ' + name + '  <span class="caret"></span>');

            $('#condition_input_'+condition).remove();
            $('#condition_'+condition).after('<input type="text" id="condition_input_' + condition + '" class="form-control" placeholder="0"/>');

        }
        function addHelper(this_){
            var name = $(this_).attr('data-name');
            var id = $(this_).attr('data-id');
            var data_mask = '';
            if(id == 0){
                data_mask = $(this_).val();
                name = data_mask;
                $('[name="custom"]').formatter({
                    pattern: data_mask
                });
                data_mask = data_mask.replaceAll("{{","").replaceAll("}}","");
            } else {
                data_mask = $(this_).attr('data-mask');
            }
            var helper = $(this_).parent().parent().parent().attr('data-helper');
            
            $(this_).parent().parent().parent().find('button').html('Helper / ' + name + '  <span class="caret"></span>');
            $('#input_'+helper).attr('data-mask',data_mask);
            $('#input_'+helper).attr('placeholder',data_mask);
            $('#input_'+helper).focus();
        }

        function deleteInput(this_){
            var id = $(this_).attr('data-id');
            $(this_).parent().parent().parent().parent().parent().parent().remove();
        }
        function addPair(this_){
            var id = $(this_).parent().parent().parent().attr('data-action');
            $('.pair_group_'+id).find('.pair_'+id + ':first-child' ).clone().appendTo('.pair_group_'+id);
        var p_s = $('.multi-select-full-'+id).find('div').find('ul');
            p_s.find('.pair_'+id + ':first-child' ).clone().appendTo(p_s);

        }


        function editLabel(this_){
            $(this_).hide();
            var label_id = $(this_).attr('data-id');
            var l = $(this_).text();
            $(this_).after('<input class="label_input form-control" id="label_input_' + label_id +  '" value="' + l +'" data-id="' + label_id + '" onblur="editLabelDone(this)"/>');
            $('#label_input_' + label_id).focus();
        }
        function editLabelDone(this_){
            var v = $(this_).val();
            var label_id = $(this_).attr('data-id');
            $('#label_'+label_id).text(v).show();
            $(this_).remove();
            $('.parent_input_'+label_id).each(function(i, item){
                $(item).text(v)
            })
        }

        function editLegend(this_){
            $(this_).hide();
            var legend_id = $(this_).attr('data-id');
            var l = $(this_).text();
            $(this_).after('<input class="legend_input" id="legend_input_' + legend_id +  '" value="' + l +'" data-id="' + legend_id + '" onblur="editLegendDone(this)"/>');
            $('#legend_input_' + legend_id).focus();
        }
        function editLegendDone(this_){
            var v = $(this_).val();
            var legend_id = $(this_).attr('data-id');
            alert(legend_id)
            $('#legend_'+legend_id).text(v);
            $('#legend_'+legend_id).show();
            $('.stepy-active').find('span').text(v);
            $(this_).remove();
        }

        function toggle_title() {
            $('.survey_title_text').hide();
            $('.survey_title_input').show();
            $('.survey_title_input').focus();
        }
        function toggle_title_input(this_) {
            $('.survey_title_text').text($(this_).val());
            $('.survey_title_text').show();
            $('.survey_title_input').hide();
        }
        function toggle_desc() {
            $('.survey_desc_text').hide();
            $('.survey_desc_input').show();
            $('.survey_desc_input').focus();
        }
        function toggle_desc_input(this_) {
            $('.survey_desc_text').text($(this_).val());
            $('.survey_desc_text').show();
            $('.survey_desc_input').hide();
        }
    </script>

    <!-- Search field -->
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row search-option-buttons">
                <div class="col-sm-6">
                    <ul class="list-inline list-inline-condensed no-margin-bottom">
                        <li>
                            <button type="button" class="btn btn-primary" id="add-step" onclick="add_step()"><i class="icon-plus22"></i> Add
                                step
                            </button>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-stack2 position-left"></i> Add Input <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="height: 100px; overflow-y: auto;">
                                <li th:each="inputType : ${T(rs.crm.survey.dataaccess.domain.lcp.InputType).values()}">
                                    <a href="#" onclick="addInput(this)"
                                       data-th-attr="data-id=${inputType.getId()}, data-name=${inputType.getName()}">
                                        <i class="icon-question7"></i>
                                        <span th:text="${inputType.getName()}" th:remove="tag"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="btn btn-link btn-sm"><i class="icon-reload-alt position-left"></i> Refine
                            your search</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 text-right">
                    <ul class="list-inline no-margin-bottom">
                        <li><a href="#" class="btn btn-link btn-sm"><i class="icon-make-group position-left"></i> Browse
                            website</a></li>
                        <li><a href="#" class="btn btn-link btn-sm"><i class="icon-menu7 position-left"></i> Advanced
                            search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /search field -->
    <!-- Form validation -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title survey_title_text" onclick="toggle_title()">Survey title </h5>
            <h5 class="panel-title survey_title_input" style="display: none">
                <input type="text" placeholder="Survey title" required="required" onblur="toggle_title_input(this)"
                       class="form-control" name="basic"/>
            </h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <p class="content-group-lg survey_desc_text" onclick="toggle_desc()">Survey Description</p>
            <textarea style="display: none" placeholder="Survey Description" class="form-control survey_desc_input"
                      onblur="toggle_desc_input(this)" cols="5" rows="5">Survey Description</textarea>

            <form class="form-horizontal form-validate-jquery stepy-basic" action="#">
                <span th:each="i : ${#numbers.sequence(1, 10)}" th:remove="tag">
                    <fieldset th:attr="title=*{''+i}"  class="step content-group">
                        <legend th:attr="id=*{'legend_'+i}"
                                data-th-attr="data-id=*{i}"
                                class="text-bold" onclick="editLegend(this)">Legend</legend>
                    </fieldset>
                </span>

                <button type="submit" class="btn btn-primary stepy-finish">Submit <i class="icon-arrow-right14 position-right"></i></button>
                <button id="default_submit" type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </form>

        </div>
    </div>
    <!-- /form validation -->

    <div id="parent" class="input-group-btn" style="display: none">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Parent<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" style="height: 100px; overflow-y: auto;">
            <li>
                <a href="#" onclick="addParent(this)" data-id="0" data-name="None">None</a>
            </li>
        </ul>
    </div>
    <div id="conditions" class="input-group-btn" style="display: none">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Condition <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" style="height: 100px; overflow-y: auto;">
            <li>
                <a href="#" onclick="addCondition(this)" data-id="0" data-name="None">None</a>
            </li>
            <li th:each="inputCondition : ${T(rs.crm.survey.dataaccess.domain.lcp.InputCondition).equalConditions()}">
                <a href="#" onclick="addCondition(this)"
                   data-th-attr="data-id=${inputCondition.getId()}, data-name=${inputCondition.getName()}">
                    <span th:text="${inputCondition.getName()}" th:remove="tag"></span>
                </a>
            </li>
        </ul>
    </div>
    <div id="helper" class="input-group-btn" style="display: none">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Helper<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" style="height: 100px; overflow-y: auto;">
            <li>
                <input type="text" onblur="addHelper(this)" data-id="0" placeholder='{{a*}} - {{999}} - {{a999}}'/>
            </li>
            <li>
                <a href="#" onclick="addHelper(this)" data-id="1" data-mask="99/99/9999" data-name="format-date">date</a>
            </li>
            <li>
                <a href="#" onclick="addHelper(this)" data-id="2" data-mask="9999 - 9999 - 9999 - 9999" data-name="format-date">credit-card</a>
            </li>
            <li>
                <a href="#" onclick="addHelper(this)" data-id="3" data-mask="(999) 999 - 9999" data-name="format-phone-number">phone-number</a>
            </li>
            <li>
                <a href="#" onclick="addHelper(this)" data-id="4" data-mask="(999) 999 - 9999 / a999" data-name="format-phone-ext">phone-ext</a>
            </li>
            <li>
                <a href="#" onclick="addHelper(this)" data-id="5" data-mask="$999.99" data-name="format-currency">currency</a>
            </li> 
            <li>
                <a href="#" onclick="addHelper(this)" data-id="6" data-mask="+39 999 999 999" data-name="format-international-phone">international-phone</a>
            </li> 
            <li>
                <a href="#" onclick="addHelper(this)" data-id="7" data-mask="99 - 9999999" data-name="format-tax-id">tax-id</a>
            </li>   
            <li>
                <a href="#" onclick="addHelper(this)" data-id="8" data-mask="999 - 99 - 9999" data-name="format-ssn">ssn</a>
            </li>   
            <li>
                <a href="#" onclick="addHelper(this)" data-id="9" data-mask="a* - 999 - a999" data-name="format-product-key">product-key</a>
            </li>    
            <li>
                <a href="#" onclick="addHelper(this)" data-id="10" data-mask="aaa - 999 - ***" data-name="format-order-number">order-number</a>
            </li>    
            <li>
                <a href="#" onclick="addHelper(this)" data-id="11" data-mask="999 - 99 - 999 - 9999 - 9" data-name="format-isbn">isbn</a>
            </li>  
            <li>
                <a href="#" onclick="addHelper(this)" data-id="12" data-mask="+3 (999) 999 - 99 - 99" data-name="format-persistent">persistent</a>
            </li>   

        </ul>
    </div>
    <div id="action" class="input-group-btn" style="display: none">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Action<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" style="height: 100px; overflow-y: auto;">
            <li>
                <a href="#" onclick="deleteInput(this)">Delete Input</a>
            </li>
            <li>
                <a href="#" onclick="addPair(this)">Add pair</a>
            </li>

        </ul>
    </div>
    <!--<input type="hidden" id="inputType_check_box" th:attr="value=*{T(rs.crm.survey.dataaccess.domain.lcp.InputType).CHECKBOX.getId()}"/>-->
</div>